:root {
    --question-bg-color: #2f4678;
    --bg-text: #ffffff;
    --font-color: #ffffff;
    --font-color-two: #2f4678;
    --header-color: #93d019;
    --header-bg-color: #385285;
    --main-bg-color: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.questions {
    width: 100vw;
    max-width: 900px;
    height: 100vh;
    padding: 1rem;
    background-color: var(--header-bg-color);
    color: var(--font-color);
    overflow-y: scroll;
}

.question::-webkit-scrollbar {
    display: hidden;
    width: 0;
}


.questions-header {
    color: var(--header-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.question {
    background-color: var(--question-bg-color);
}

.question-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

span {
    margin-right: 1rem;
    cursor: pointer;
}

.question-text {
    background-color: var(--bg-text);
    color: var(--font-color-two);
    padding: 1rem 2rem;
    display: none;
}

.question-active div.question-text {
    display: block;
}

.question-active span {
    transform: rotateZ(90deg);
}